@font-face{
    font-family: letra;
    src:url(../letra/Rightland.otf);
}
@font-face{
    font-family: titulos;
    src:url(../letra/AdventPro-Light):
}
body{
    margin: 0px;
    font-size: 18px;
    /*background-color: #B5B5B3;*/
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: letra;
}
.ivan{
    margin: auto;
    
}
nav{
    background-color: #eee;
    width: 100%;
    height: 90px;
    overflow: hidden;
    position: fixed;
    z-index: 50;
    top: 0px;
}
nav:hover{
    opacity: 1;
}
ul{
    margin: 20px;
}
li{
    float: right;
    width: 21%;
    color: black;
    list-style: none;
    margin-top: -65px;
    transition-duration: 0.6s;
    text-align: center;
    font-size: 25px;
}
li:hover{
    margin-top: 10px;
}
.fotele{
    width: 35px;
    height: 35px;
}
.foto{
    width: 100%;
    height: 45px;
    float: left;
    padding: 5px 0 20px 0;
    cursor: pointer;
    position: relative;
    top: -10px;/*salva vidas*/
}
.logo {
    line-height: 100px;
    float: left;
    display: block;
    margin: auto;
    width: 150px;
    height: 30%;
}
h1{
    font-family: titulos;
    position: absolute;
    top: 70px;
    left: 37%;
    font-size: 50px;
    color: white;
}
.marcas{
    margin-top: 200px;
    margin-left: 40px;
    margin-right: 10px;
    text-align: center;
}
.marcas img{
    width: 350px;
    height: 250px;
}
.bmw{
    padding-bottom: 130px;
    padding-left:5px;
}
.mercedes{
    margin-top: 10px;
    padding-bottom: 90px;
    padding-right:50px;
}
.porsche{
    margin-top: 10px;
    padding-bottom: 160px;
    padding-left:5px;
}
.audi{
    margin-top: 10px;
    padding-bottom: 110px;
    padding-left:5px;
    padding-bottom: 160px;
}
.bmwfoto{
    float: left;
    border-radius: 25px;
    box-shadow: 10px 10px 90px white;
	object-fit: cover;
}
.mercedesfoto{
    float: right;
    border-radius: 25px;
    box-shadow: 10px 10px 90px white;
}
.porschefoto{
    float: left;
    border-radius: 25px;
    box-shadow: 10px 10px 90px white;
}
.audifoto{
    float: right;
    border-radius: 25px;
    box-shadow: 10px 10px 90px white;
}
.textobmw{
    margin-top: 5%;
    margin-left: 395px;
    margin-right: 350px;
    font-family: cuerpo;
    font-size: 20px;
}
.textomercedes{
    margin-top: 5%;
    margin-left: 170px;
    margin-right: 390px;
    font-family: cuerpo;
}
.textoporsche{
    margin-top: 5%;
    margin-left: 370px;
    font-family: cuerpo;
}
.textoaudi{
    margin-top: 5%;
    margin-right: 370px;
    font-family: cuerpo;
}
/*.overlay{
	position: absolute;
	bottom:0px;
	left:0px;
	background: rgba(0, 118, 192, 0.781);
	width: 100%;
	height: 0px;
	overflow:hidden;
	transition: 0.5s ease;
}
.overlay h2{
	color:#fff;
	font-weight: 300px;
	position: absolute;
	top:50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}
.imagen:hover .overlay{
	height: 100%;
	cursor:pointer;
}*/
a{
    color: white;
    text-decoration: none;
}
.footer{
    background-color: black;
    font-family: titulos;
}
.tablafooter{
    margin: 0 auto; 
    border:none;
}
.imgth{
    height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 130px; 
    min-width: 15px; 
    min-height: 13px; 
    display: block; 
    overflow-x: auto;
}
.td{
    border:none;
}
.pfooter{
    text-align: center; 
    padding: 0px 0px 0px 0px; 
    font-size: 20px; 
    color: #fff;
}
h2{
    font-family: titulos;
}
